    .lead__image {
        align-self: center;
        height: 615px;
        max-width: 984px;
        width: calc(100% - 148px);
        margin-top: 64px;
        margin-left: 148px;
        margin-right: auto;
        
    }

    @media screen and (max-width:320px) {
        .lead__image {
            
            height: 615px;
            max-width: 984px;
            
            margin-top: 64px;
            margin-left: auto;
        }
    }
    @media screen and (min-width: 321px) and (max-width: 768px) {
        .lead__image {
            
            height: 200px;
            max-width: 320px;
            width: 100%;
            margin-top: 40px;
            margin-left: auto;
        }
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .lead__image {
            
            height: 580px;
            max-width: 928px;
            width: calc(100% - 96px);
            margin-top: 56px;
            margin-left: auto;
        
        }
    }
    