.lead__words {
    align-items: flex-start;
margin-top: 0px;
margin-bottom: 0px;
max-width: 183px;
    margin-left: 148px;
font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
}
@media screen and (max-width:320px) {
    .lead__words {
        margin-top: 0px;
margin-left: 16px;
        
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .lead__words {
        margin-top: 0px;
margin-left: 24px;
        
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__words {
        margin-top: 0px;
margin-left: 48px;
        
    }
}
